@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url("../fonts/OpenSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url("../fonts/OpenSans-Italic.woff") format("woff");
  font-style: italic;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller"), url("../fonts/MullerExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller"), url("../fonts/MullerMedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller"), url("../fonts/MullerBold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller"), url("../fonts/MullerHeavy.woff") format("woff");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  position: relative;
  box-sizing: border-box;

  height: 100%;
}

.content-box-component {
  box-sizing: content-box;
}

body {
  margin: 0;
  font-family: $main-font;
  font-size: 17px;
  line-height: 24px;
  background-image: url("../img/background-purple-mobile.png");
  background-size: 100% auto;
  background-position: 0 0;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    background-image: url("../img/background-purple-tablet.png");
    background-size: 780px auto;
    background-position: 2% 0;
  }

  @media (min-width: 780px) {
    background-size: 100% auto;
    background-position: 0 0;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/background-purple-desktop.png");
    background-size: 1920px auto;
    background-position: 32% 0;
  }

  @media (min-width: 1920px) {
    background-size: 100% auto;
  }

  img {
    max-width: 100%;
  }

  a {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.body--no-scroll {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
