$color-text-white: #ffffff;
$color-text-grey: #5e606a;
$color-text-light-grey: #868995;
$color-text-dark-grey: #383d52;
$color-text-blue: #3594dd;
$color-text-menu: #333333;

$background-pink: #fb0275;
$background-white: #ffffff;
$background-grey: #faf8fb;
$background-footer-purple: #65269d;
$purple: #883eca;
$pink: #fb0275;
