.button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.9px;
  color: $color-text-white;
  text-transform: uppercase;
  background: none;
  background-color: $background-pink;
  border: none;
  border-radius: 30px;

  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
