.page-header {
  max-width: $mobile-width + 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  padding: 0 15px;
  padding-top: 23px;
}

.page-header__logo {
  padding: 0;

  @include logo-text;
}

.page-header__nav--hide,
.page-header__phone--hide {
  display: none;
}

.page-header__toggle {
  top: 30px;
  right: 0;
  display: block;
  width: 25px;
  height: 16px;
  text-indent: -10000px;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../img/burger.svg");
  border: none;

  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__wrapper--opened {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 1, 1, 0.5);
}

.page-header__container--opened {
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: $background-white;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
}

.page-header__toggle--opened {
  position: absolute;
  right: 26px;
  top: 26px;
  width: 16px;
  background-image: url("../img/close.svg");
}

.page-header__nav {
  padding-top: 40px;
  padding-left: 67px;
  letter-spacing: 0.8px;
}

.page-header__phone {
  margin-top: 65px;
}

@media (min-width: $tablet-width) {
  .page-header {
    max-width: $tablet-width;
    padding-top: 27px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    max-width: $desktop-width;
    padding-top: 61px;
  }
}
