.phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.phone__number {
  text-transform: uppercase;
  color: $color-text-menu;
  font-size: 16px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 1px;
}

.phone__button {
  margin-top: 15px;
  width: 165px;
  padding: 8px 0;
  text-transform: uppercase;
  color: $pink;
  font-size: 11px;
  font-weight: 800;
  line-height: 12px;
  background-color: $background-white;
  border: 2px solid $pink;
  border-radius: 20px;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
